<div class="container">
  <form [formGroup]='FormDatas' (ngSubmit)="onSubmit()">
    <div class="row">
    <div class="col-md-6 col-12">
     <div class="form-group">
       <label for="price">Price</label>
       <input type="number" class="form-control" id="price" formControlName="price"
       [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">Price is required</div>
      </div>
     </div>
    </div>
    <div class="col-md-6 col-12">
     <div class="form-group">
       <label for="description">Description</label>
       <textarea type="text" class="form-control" id="description" formControlName="description"
       [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
       <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Description is required</div>
      </div>
     </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
